.label-color {
  color: #609ea2;
  font-weight: 600;
}
.file-border{
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 17px;
  padding: 10px 25px 10px 25px;
  transition: #609ea2 2s ease-out 100ms
}

.main-body{
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 17px;
  padding: 10px 25px 10px 25px;
}

.bg-color-label{
  color: #609ea2;
}

:host ::ng-deep {
  .radio-custom-btn label{
    color:#609ea2;
    font-weight: 600;
  }
  .p-fileupload-choose{
    padding:0.5rem;
  }
  .p-fileupload-buttonbar {
    text-align: center;
  }
  .p-button {
    color: #ffffff;
    background: #609ea2;
    border: 1px solid #609ea2;
  }
  .p-fileupload-choose:not(.p-disabled):active {
    background: #609ea2;
    color: #ffffff;
    border-color: #609ea2;
  }
  .p-fileupload-choose:not(.p-disabled):hover {
    background: #609ea2;
    color: #ffffff;
    border-color: #609ea2;
}
.p-button:enabled:hover {
    background: #609ea2;
    color: #ffffff;
    border-color: #609ea2;
}
.pad-cancel-button .p-fileupload-row .p-button{
    padding: 0.5rem !important;
} 
}
