<p-toast></p-toast>
<div class="flex pt-7 justify-content-center">
  <div class="grid p-fluid p-4 pt-5 main-body justify-content-center">
    <div class="pb-6">
      <div class="input-file-div">
        <input
          #file
          type="file"
          accept=".out,.txt,.X12"
          name="uploadfile"
          id="img"
          style="display: none"
          (change)="onUpload(file.files, file)"
        />
        <div class="file-name">
          <label
            style="font-size: 1.5rem; color: #609ea2; border: 2px solid"
            class="file-border"
            for="img"
            ><i
              class="pi pi-cloud-upload"
              style="font-size: 1.5rem; color: #609ea2"
            ></i
            >&nbsp;{{ uplodedFileName?.name || "Upload EDI File" }}</label
          >
        </div>
      </div>
    </div>

    <div class="grid col-12 p-0 pb-5 justify-content-center">
      <div class="bg-color-label text-lg">
        Select Preferred Download Type:&nbsp;&nbsp;&nbsp;
      </div>
      <p-radioButton
        name="groupname"
        value="JSON"
        class="radio-custom-btn text-lg"
        label="JSON"
        [(ngModel)]="selectedFileType"
      ></p-radioButton
      >&nbsp;&nbsp;&nbsp;
      <p-radioButton
        name="groupname"
        value="XML"
        label="XML"
        class="radio-custom-btn text-lg"
        [(ngModel)]="selectedFileType"
      ></p-radioButton>
    </div>
    <p-button (onClick)="onUploadFile()" label="Upload"></p-button>
    <div *ngIf="showOptionsFlag">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <p-button
      *ngIf="showOptionsFlag"
      (onClick)="onDownloadFile()"
      class=""
      label="DownLoad"
    ></p-button>
  </div>
</div>
